page {
  height:100%;
}

.item-status {
  /* background-color:#1EBDB2; */
  padding:0 8px;
  line-height:30px;
  color:#fff;
  font-size:32rpx;
  width:10%;
  text-transform:uppercase;
}

.item-frame {
  width:100%;
  margin-bottom:80rpx;
  padding-bottom:20rpx;
  border-bottom:1px solid #e9e9e9;
  background-color:#ffffff;
  box-shadow: 0 1px 3px 0 rgba(30,41,61,.1);
  margin-top: 1px;
}

.item-address {
  padding-left:20rpx;
  padding-top:10rpx;
  font-size:17px;
  color:#515151;
}

.item-config {
  display:flex;
  align-items:center;
  padding-top:10rpx;
  font-size:15px;
  justify-content:space-between;
}

.item-config image {
  height:40rpx;
  width:40rpx;
  padding-left:20rpx;
  padding-right:6rpx;
}